<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573577307109-ojnab8amc22551778clnru6fsejh1ik6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573577307109-ojnab8amc22551778clnru6fsejh1ik6</string>
	<key>API_KEY</key>
	<string>AIzaSyB8j0WwDu5AnrfqMR0kCMeFZ6nr2RxiKF8</string>
	<key>GCM_SENDER_ID</key>
	<string>573577307109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hee.SesacFirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>sesacfirebaseexample</string>
	<key>STORAGE_BUCKET</key>
	<string>sesacfirebaseexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573577307109:ios:e719621737de223c62850c</string>
</dict>
</plist>